@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* global style start */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    color: #3A3A3A;
}

/* global style end */

/* banner style start */
.container {
    display: flex;
    justify-content: space-between;
    /* gap: 133px; */
}

.banner_text {
    width: 582px;
    margin-left: 120px;
    margin-top: 145px;
}

.banner_title {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
    color: #3A3A3A;
}

.banner_subTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.banner_button {
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
    border-radius: 41px;
}

.banner_text .fa-light {
    color: #FFFFFF;
}

.banner_image {
    width: 440px;
    margin-right: 165px;
    margin-top: 80px;
}

/* banner style end */