@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* global style start */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #FFFFFF;
    color: #3A3A3A;
    margin: 0;
}

/* global style end */

/* banner style start */
.container {
    display: flex;
    justify-content: space-between;
    /* gap: 133px; */
}

.banner_text {
    width: 582px;
    margin-left: 120px;
    margin-top: 145px;
}

.banner_title {
    font-weight: 700;
    font-size: 52px;
    line-height: 70px;
    margin-bottom: 16px;
    color: #3A3A3A;
}

.banner_subTitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.banner_button {
    background-color: #E02C6D;
    width: 196px;
    height: 44px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
    border-radius: 41px;
}

.banner_text .fa-light {
    color: #FFFFFF;
}

.banner_image {
    width: 440px;
    margin-right: 165px;
    margin-top: 80px;
}

/* banner style end */

/* partner section start */
.partner {
    margin: 100px;
    display: flex;
    justify-content: space-between;
}

/* partner section end */

/* cllection section start */
.popular_collections {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.pc_title {
    font-weight: 600;
    font-size: 28px;
    color: #3A3A3A;
}


.collections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 1047px;
}

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 329px;
    /* height: 476px; */
    /* left: 196px; */
    /* top: 1035px; */
    /* padding: 15px 17px; */

    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.coll_img img {
    margin-top: 15px;
    width: 100%;
}

.coll_text {
    margin: 0 17px;
}

.coll_title {
    margin: 16px 0;
    font-weight: 500;
    font-size: 28px;
    /* line-height: 40px; */
    color: #18191F;
}

.coll_price {
    margin: 16px 0;
    font-weight: 400;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
}

.coll_rating {}

.coll_rating .fa-solid {
    font-size: 16px;
    color: #FB8200;
}

.coll_rating .rating_no {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    /* line-height: 22px; */
    color: #5E6366;
}

.coll_shift {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #787885;
}

.coll_seeMore {
    font-weight: 700;
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    margin-left: 71%;
    margin-top: 50px;
}

/* cllection section end */

.feature_product {
    margin: 0 130px;
    display: flex;
    justify-content: space-evenly;
    width: 1110px;
    column-gap: 96px;
    margin-bottom: 100px;
}

.feature_image {
    width: 404px;
}

.feature_image img {
    width: 100%;
}

.feature_text {
    width: 610px;
}

.feature_title {
    font-weight: 700;
    font-size: 38px;
}

.feature_subTitle {
    font-weight: 700;
    font-size: 16px;
}

.feature_button {
    width: 155px;
    height: 44px;
    background: #E02C6D;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/* footer start */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    height: 239px;

    background: #0A0826;
}

footer h3 {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
}

footer p {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
}

footer .fa-brands {
    color: white;
    /* padding: 0px; */
    /* gap: 16px; */
    /* position: absolute; */
    width: 25px;
    /* height: 32px; */
    /* left: 632px; */
    /* top: 3224px; */
}

/* footer end */